<ion-view title="Browse">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h3>Browse Top 10!</h3>

        </form>
	<!--
      <ion-list ng-repeat="Book in GenreList">
        <ion-item>{{Book.name}} - Rating:{{Book.rating}}</ion-item>
      </ion-list>
  --><ion-list ng-repeat="Category in CategoryList track by Category">
      <ion-item ng-href="#/subCategory/{{Category}}">{{Category}}</ion-item>

          </ion-content>
</ion-view>
