<ion-view title="Facebook Signup Page">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h5>Enter Facebook Login :</h5>
            <ion-list>
                <label class="item item-input">
                    <input type="text" ng-model="userData.username" placeholder="Username">
                </label>
                <label class="item item-input">

                    <input type="password" ng-model="userData.password" placeholder="Password">
                </label>
            </ion-list>
            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#" class="button button-stable button-block " ng-click="doLogin()">Log in</a>
        </form>
    </ion-content>
</ion-view> <!-- ->
