<ion-view title="{{params.name}}">
  <ion-content padding="'true'" class="has-header">
  </br></br>
  <div class="card">

    <div class="item item-body">
      <img src="{{imageLink}}" style="height: 200px">
      <h2>{{title}}</h2>
      <h4>by {{author}}</h4>
      <p>{{sub_title}}</p>
    </div>
    <p align="center">Genre: {{genre}} | Rating: {{rating}} | Length: {{length}} | Released: {{release_date}}</p>
    <!--<p align="center"><i>{{info.sub_title}}</i></p>-->
    <ion-list ng-repeat="review in critic">
      <div class="item item-body">
        <!-- <img class="small-image" src="{{review.source_logo}}"> -->
        <b>{{review.source}}</b>
        <p>{{review.snippet}}</p>
        <p>
          <a class="subdued">Rated {{review.star_rating}}/5</a>
          <a class="subdued">On {{review.review_date}}</a>
        </p>
      </div>
    </ion-list>
    <!-- This is the footer part for upvote and downvote -->
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#" ng-click="upVote('upvoted')">
        <i class="icon ion-thumbsup"></i>
        Upvote
      </a>
      <a class="tab-item" href="#" ng-click="downVote('downvoted')">
        <i class="icon ion-thumbsdown"></i>
        Downvote
      </a>

    </div>

  </div>
  </ion-content>
</ion-view>
