<ion-view title="{{params.item}}">
  <ion-content padding="'true'" class="has-header">
    <!--    <a class="button icon ion-navicon" ng-click="Back()">Back</a> -->
    <div
      style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 75%; height: auto; background-color: rgb(255, 255, 255);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="card">
      <div class="item item-text-wrap">


        <ion-list ng-repeat="Book in GenreList | limitTo: 10 | orderBy:'-promoted' track by (Book.name + Book.objectId)">
          <ion-item ng-href="#/itemdescription/{{Book.name}}">{{Book.name}}</ion-item>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item">
              <i class="icon ion-thumbsup" ng-click="upVote(Book,'upvoted')"></i>Upvote
            </a>
            <a class="tab-item">
              <i class="icon ion-thumbsdown" ng-click="downVote(Book,'downvoted')"></i>Downvote
            </a>
          </div>

        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
