<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <form class="list">

      <h1 align="center">Top 10!</h1>

      <div
        style="line-height: 0px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; background-color: rgb(255, 255, 255);">
        <img src="/img/top10.png" />
      </div>
      <ion-list></ion-list>
      <label class="item item-input">
        <input type="text" ng-model="credentials.username" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="credentials.password" placeholder="Password">
      </label>
      <a href="#" class="button button-balanced button-block " ng-click="doLoginAction()">Log in</a>
    </form>
    <a href="#/signup" class="button button-positive button-clear button-block ">Or create an account</a>
  </ion-content>
</ion-view>
