<ion-view title="My Account">
  <ion-content padding="'true'" class="has-header">
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        Username
        <span class="item-note">
      <b>{{user.username}}</b>
    </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-at"></i>
        Email
       <span class="item-note">
       <b>{{user.email}}</b>
        </span>
      </a>

      <a class="item item-icon-left" href="#/password">
        <i class="icon ion-settings"></i>
        Change Password
      </a>


    </div>


    <!--

    <button class="button button-stable button-block button-large icon-left ion-android-arrow-dropright button-full">Username</button>
    <button class="button button-stable button-block button-large icon-left ion-android-arrow-dropright button-full">Email</button>
    <a menu-close="" href="#/password" class="button button-stable button-block button-large icon-left ion-android-arrow-dropright button-full">Password</a>
    <form class="list"></form>
    <form class="list"></form> -->
    <h4>Support</h4>
    <h4>Privacy Policy</h4>
    <h4>Terms of Service</h4>
  </ion-content>
</ion-view>
