<ion-view title="Password">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div>
                <p>
                </p>
                <center>To set a new password, please enter your current password first.</center>
                <p></p>
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a menu-close="" href="#/reset" class="button button-stable button-clear button-block ">Forgot Your Password</a>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <button class="button button-stable button-block ">Continue</button>
    </ion-content>
</ion-view>