<ion-view title="Profile">
  <ion-content padding="true" class="has-header">
    <img src="/img/Yb73EimfSriiSuTps0Sr_icon-profile.png" width="10%" height="auto" style="width: 30%; height: auto;">
    <h5>Logged in as {{username}}</h5>
    <a href="#/myaccount" class="button button-royal ">My Account</a>
    <a href="#" class="button button-assertive" ng-click="doLogoutAction()">LOGOUT</a>

    <div>
    <span><h4>Contribute New</h4>

    <select>
      <option selected>Book</option>
      <option>Movie</option>
    </select>
    </span>
    </div>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Book Title, Author, ISBN or EISBN"
               style="width:60%;padding: 22px 10px; line-height: 28px" ng-model="inputItem.title">
        <br>

      </label>
      <button class="button button-medium" style="padding-left: 10%; padding-right:10%" ng-click="addNewBook()">
        ADD
      </button>


    </div>

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Movie Title"
               style="width:60%;padding: 22px 10px; line-height: 28px" ng-model="inputItem2.title">
        <br>

      </label>
      <button class="button button-medium" style="padding-left: 10%; padding-right:10%" ng-click="addNewMovie()">
        ADD
      </button>


    </div>

    <br>


    <h4>Recent Contributions</h4>
    <ion-list ng-repeat="Book in contributionList | orderBy:'-createdAt'">

      <span>
        <ion-item>{{Book.name}}
          <div align="right">
            <img src="/img/up.png" style="width: 5%"/>{{Book.upvoters.length}}
            <img src="/img/down.png" style="width: 5%"/>{{Book.downvoters.length}}
          </div>
        </ion-item>
      </span>
    </ion-list>

  </ion-content>
</ion-view>
