<ion-view title="Reset Password">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <div>
                <p>
                </p>
                <center>If you know your current password, you may change it any any time.

                </center>
                <p></p>
                <p></p>
                <center>Please enter the email address associated with your Top 10 account:</center>
                <p></p>
                <p></p>
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Submit</button>
        </form>
    </ion-content>
</ion-view>