<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                  <input type="text" ng-model="signupid.username" placeholder="UserName"/>
                </label>
                <label class="item item-input">
                  <input type="password" ng-model="signupid.password" placeholder="Password"/>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="signupid.email" placeholder="Email">
                </label>
            </ion-list>
            <a href="#/login" class="button button-energized button-block " ng-click="doSignup()">Sign up</a>
        </form>
        <a href="#/facebook" class="button button-positive button-block ">Or Sign in with Facebook</a>
    </ion-content>
</ion-view>
