<ion-view title="{{params.category}}">
    <ion-content padding="'true'" class="has-header">
      <a class="button" ng-click="Back()">Back</a>
        <h1>Genre</h1>



      <ion-list ng-repeat="item in genreList track by item" >
        <ion-item  ng-href="#/listitempage/{{item}}">
          <div>{{item}}</div>
        <!--    <ion-item menu-close="" href="#/listitempage1">Fiction</ion-item>
            <ion-item menu-close="" href="#/listitempage1">Non Fiction</ion-item>
            <ion-item menu-close="" href="#/listitempage1">Biography</ion-item>
        </ion-list>
        <ion-list>
            <ion-item menu-close="" href="#/listitempage1">Self Help</ion-item>
            <ion-item menu-close="" href="#/listitempage1">Miscelleneous</ion-item> -->
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
