<ion-view title="Trending">

  <ion-content padding="true" class="has-header">
    <div class="card">
      <h2>What's Trending now!</h2>

      <div class="item item-text-wrap">

        <ion-list ng-repeat="Book in BookList | limitTo: 10 | orderBy:'-promoted' track by Book.objectId">
          <ion-item ng-href="#/itemdescription/{{Book.name}}">
            <div>{{Book.name}}</div>
          </ion-item>
          <!--       <div class="item tabs tabs-secondary tabs-icon-left">
                   <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup" ng-click="upVote(Book,'upvoted')">UpVote: {{Book.upvoters.length}}</i></a>
                   <a class=tab-item" href="#">
                     <i class="icon ion-thumbsdown" ng-click="downVote(Book,'downvoted')">DownVote: {{Book.downvoters.length}}</i>
                   </a>
                 </div> -->

          <div class="item tabs tabs-secondary tabs-icon-left tabs-stable">
            <a class="tab-item">
              <i class="icon ion-thumbsup" ng-click="upVote(Book,'upvoted',Book.genre)"></i>Upvote
            </a>
            <a class="tab-item">
              <i class="icon ion-thumbsdown" ng-click="downVote(Book,'downvoted', Book.genre)"></i>Downvote
            </a>
          </div>

        </ion-list>

        <!--<ion-list>-->
            <!--<ion-item>Item 4</ion-item>-->
            <!--<ion-item>Item 5</ion-item>-->
            <!--<ion-item>Item 6</ion-item>-->

      </div>
    </div>
  </ion-content>
</ion-view>
